.form {
  top: 50%;
  left: 50%;
  z-index: 11;
  display: flex;
  position: absolute;
  text-align: center;
  padding: 20px 20px;
  border-radius: 10px;
  flex-direction: column;
  transform: translate(-50%, -50%);
  background-color: var(--basic-color);
  box-shadow: 0 5px 35px var(--modal-shadow-color);
  &__background {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    position: fixed;
    background-color: var(--modal-background-color);
  }
  &__input {
    padding: 5px;
    font-size: 17px;
    margin-left: 10px;
    border-radius: 3px;
    border: 1px solid var(--primary-color);
    &-required {
      color: red;
      top: 35px;
      right: 10px;
      font-size: 10px;
      margin-bottom: 5px;
      position: absolute;
    }
    &-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      margin-bottom: 20px;
      justify-content: space-between;
    }
  }
  &__button {
    transition: .3s;
    font-size: 17px;
    margin-left: 5px;
    padding: 5px 10px;
    border-radius: 3px;
    color: var(--basic-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    &:hover {
      color: var(--primary-color);
      background-color: var(--basic-color);
    }
    &-wrapper {
      display: flex;
      justify-content: flex-end;
    }
  }
  &__close {
    &-icon {
      width: 20px;
      height: 20px;
      float: right;
      transition: .3s;
      margin-bottom: 15px;
      &:hover {
        fill: red;
        transform: rotate(90deg);
      }
    }
  }
  &__title {
    margin-bottom: 15px;
  }
  &__checkbox {
    appearance: auto;
    &-title {
      float: left;
    }
    &-wrapper {
      display: flex;
      position: relative;
      margin-bottom: 15px;
      justify-content: space-around;
    }
    &-inner {
      display: flex;
      align-items: center;
    }
    &-label {
      margin-right: 5px;
    }
  }
  & ._textarea {
    top: 95px;
  }
  & ._gender {
    top: 17px;
    right: 10px ;
  }
}
.dropdown__wrapper {
  margin-bottom: 20px;
  position: relative;
}
