<div class="form__background"
     (click)="closeAddingForm.emit()"></div>
<form class="form"
      #form="ngForm"
      (ngSubmit)="form.control.markAllAsTouched(); form.valid && addNewProduct.emit(form.value)">
    <div class="form__close">
        <svg class="form__close-icon"
             data-src="/assets/images/close.svg"
             (click)="closeAddingForm.emit()"></svg>
    </div>
    <span class="form__title">{{ changeProductData.title }}</span>
    <div class="dropdown__wrapper">
        <dropdown-menu [categories]="categories"
                       [editingProduct]="editingProduct"
                       [(ngModel)]="editingProduct ? editingProduct.category : form.value.category"
                       ngDefaultControl
                       name="category"
                       id="category"
                       required
                       #category="ngModel"></dropdown-menu>
        <div *ngIf="category.touched && category.invalid"
             class="form__input-required">You must select a category.</div>
    </div>
    <div class="form__input-wrapper">
        <label for="link">Insert Link:</label>
        <input class="form__input"
               id="link"
               name="link"
               required
               #link="ngModel"
               [(ngModel)]="editingProduct ? editingProduct.link : form.value.link">
        <div *ngIf="link.touched && link.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__input-wrapper">
        <label for="author">Author:</label>
        <input class="form__input"
               id="author"
               name="author"
               required
               #author="ngModel"
               [(ngModel)]="editingProduct ? editingProduct.author : form.value.author">
        <div *ngIf="author.touched && author.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__input-wrapper">
        <label for="description">Type Desc:</label>
        <textarea class="form__input"
                  id="description"
                  rows="4"
                  cols="25"
                  name="description"
                  required
                  #description="ngModel"
                  [(ngModel)]="editingProduct ? editingProduct.description : form.value.description">
        </textarea>
        <div *ngIf="description.touched && description.invalid"
             class="form__input-required _textarea">Field is required.</div>
    </div>
    <div class="form__checkbox-wrapper">
        <span class="form__checkbox-title">Choose gender :</span>
        <div class="form__checkbox-inner">
            <label class="form__checkbox-label"
                   for="men">Men</label>
            <input class="form__checkbox"
                   type="radio"
                   id="men"
                   name="gender"
                   value="men"
                   #gender="ngModel"
                   required
                   [(ngModel)]="editingProduct ? editingProduct.gender : form.value.gender">
        </div>
        <div class="form__checkbox-inner">
            <label class="form__checkbox-label"
                   for="women">Women</label>
            <input class="form__checkbox"
                   type="radio"
                   id="women"
                   name="gender"
                   value="women"
                   required
                   #gender="ngModel"
                   [(ngModel)]="editingProduct ? editingProduct.gender : form.value.gender">
        </div>
        <div *ngIf="gender.touched && gender.invalid"
             class="form__input-required _gender">You must select a gender.</div>
    </div>
    <div class="form__button-wrapper">
        <button *ngIf="changeProductData.isSaveBtn"
                class="form__button"
                type="submit">Save</button>
        <button *ngIf="changeProductData.isAddBtn"
                class="form__button"
                type="submit">Add</button>
        <button *ngIf="changeProductData.isCancel"
                class="form__button"
                type="reset"
                (click)="closeAddingForm.emit()">Cancel</button>
    </div>
</form>
