.popup {
  top: 50%;
  left: 50%;
  z-index: 10;
  width: 360px;
  position: absolute;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  background-color: var(--basic-color);
  box-shadow: 0 5px 35px var(--modal-shadow-color);
  &__wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    position: fixed;
    background-color: var(--modal-background-color);
  }
  &__close {
    &:hover {
      cursor: pointer;
    }
  }
  &__title {
    display: flex;
    padding: 20px 25px;
    justify-content: space-between;
    border-bottom: 1px solid var(--modal-border-color);
    &-desc {
      padding: 15px 25px;
      text-align: center;
      &-button {
        transition: .3s;
        padding: 10px 25px;
        border-radius: 5px;
        color: var(--basic-color);
        border: 1px solid var(--primary-color);
        background-color: var(--primary-color);
        &:hover {
          color: var(--primary-color);
          background-color: var(--basic-color);
        }
        &-wrapper {
          display: flex;
          padding: 10px 20px;
          justify-content: space-evenly;
        }
      }
    }
  }
  &__close {
    width: 15px;
    height: 15px;
    transition: .3s;
    &:hover {
      transform: rotate(90deg);
      fill: var(--primary-color);
    }
  }
}
