<div class="popup__wrapper"
     (click)="notificationModalService.closeModal({ isOk: false, data: null })"></div>
<div class="popup">
    <div class="popup__title">
        {{notificationModalService.confirmModalData.title}}
        <button type="button">
            <svg class="popup__close"
                 data-src="/assets/images/close.svg"
                 (click)="notificationModalService.closeModal({ isOk: false, data: null })"></svg>
        </button>
    </div>
    <div class="popup__title-desc">{{notificationModalService.confirmModalData.bodyText}}</div>
    <div class="popup__title-desc-button-wrapper">
        <button *ngIf="notificationModalService.confirmModalData.isOkBtn"
                class="popup__title-desc-button"
                type="submit"
                (click)="notificationModalService.closeModal({ isOk: true, data: notificationModalService.confirmModalData.data })">
            Ok
        </button>
        <button *ngIf="notificationModalService.confirmModalData.isCancel"
                class="popup__title-desc-button"
                type="submit"
                (click)="notificationModalService.closeModal({ isOk: false, data: null })">
            Cancel
        </button>
    </div>
</div>
