<div class="dropdown__wrapper">
    <select class="dropdown__select"
            [(ngModel)]="editingProduct ? editingProduct.category : selectedCategory"
            id="categories"
            (change)="showDataByCategory.emit(selectedCategory)">
        <option class="dropdown__select-option"
                disabled
                [value]="undefined">Select category:</option>
        <option *ngFor="let category of categories"
                class="dropdown__select-option"
                [value]="category">{{category}}</option>
    </select>
</div>
