.dropdown {
  &__wrapper {
    margin-left: 5px;
  }
    &__select {
      min-width: 100%;
      font-size: 17px;
      appearance: auto;
      padding: 5px 10px;
      border-radius: 3px;
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      &-option {
        font-size: 15px;
      }
  }
}
