.hover {
  position: relative;
  &__wrapper {
    &:hover .modal {
      top: 50px;
      right: 0;
      display: block;
      position: absolute;
    }
    &-button {
      width: 100px;
      height: 50px;
      transition: .3s;
      font-size: 20px;
      border-radius: 5px;
      color: var(--basic-color);
      border: 2px solid var(--primary-color);
      background-color: var(--primary-color);
      &:hover {
        color: var(--primary-color);
        background-color: var(--basic-color);
      }
    }
  }
}
.modal {
  z-index: 6;
  display: none;
  &__wrapper {
    height: 160px;
    padding-top: 20px;
  }
  &__content {
    width: 300px;
    height: 140px;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
    background-color: var(--basic-color);
    box-shadow: 0 5px 20px var(--shadow-color);
    &-button {
      &:hover {
        cursor: pointer;
        fill: var(--primary-color);
      }
    }
    &-list {
      width: 75%;
    }
  }
}
.arrow {
  width: 30px;
  height: 50px;
  transition: .3s;
  &._prev {
    transform: rotate(180deg);
  }
}

