<div class="hover">
    <div class="hover__wrapper">
        <button class="hover__wrapper-button"
                type="button"
                (click)="notificationModalService.openModal(hoverTipsService.MODAL_TEXTS)">
            Tips
        </button>
        <div class="modal">
            <div class="modal__wrapper">
                <div class="modal__content">
                    <div class="modal__content-button _prev"
                         (click)="hoverTipsService.isToggleTextPrev()">
                        <svg class="arrow _prev"
                             data-src="/assets/images/arrow.svg"></svg>
                    </div>
                    <ul class="modal__content-list">
                        <ng-container *ngFor="let itemText of hoverTipsService.ARR_TEXTS; let i = index">
                            <li *ngIf="itemText.isVisible"
                                class="modal__content-list-item">
                                {{itemText.name}}
                            </li>
                        </ng-container>
                    </ul>
                    <div class="modal__content-button _next"
                         (click)="hoverTipsService.isToggleTextNext()">
                        <svg class="arrow _next"
                             data-src="/assets/images/arrow.svg"></svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
