.products {
  &__button {
    display: flex;
    transition: .3s;
    font-size: 17px;
    padding: 5px 10px;
    margin-left: 5px;
    border-radius: 3px;
    white-space: nowrap;
    align-items: center;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    background-color: var(--basic-color);
    &-filter {
      transition: .3s;
      font-size: 17px;
      margin-left: 5px;
      padding: 5px 10px;
      border-radius: 3px;
      white-space: nowrap;
      border: 1px solid red;
      background-color: red;
      color: var(--basic-color);
      &:hover {
        color: red;
        background-color: var(--basic-color);
      }
    }
    &:hover {
      color: var(--basic-color);
      background-color: var(--primary-color);
    }
    &:hover .products__button-icon {
      fill: var(--basic-color);
    }
    &:hover .products__button-icon-category-arrow {
      fill: var(--basic-color);
    }
    &-wrapper {
      display: flex;
      margin-bottom: 20px;
      align-items: center;
      flex-wrap: wrap;
    }
    &-icon {
      width: 20px;
      height: 20px;
      transition: .3s;
      margin-right: 5px;
      fill: var(--primary-color);
      &-category-arrow {
        width: 20px;
        height: 20px;
        transition: .3s;
        margin-left: 5px;
        transform: rotate(90deg);
        fill: var(--primary-color);
      }
    }
    &-span {
      font-size: 15px;
    }
  }
  &__table {
    width: 100%;
    color: var(--shadow-color);
    &-nodata {
      padding: 0 5px;
    }
    &-tr {
      border-bottom: 1px solid var(--modal-shadow-color);
    }
    &-td {
      padding: 5px;
      overflow: hidden;
      max-width: 170px;
      white-space: nowrap;
      vertical-align: middle;
      text-overflow: ellipsis;
      &-button{
        &-wrapper {
          float: right;
          display: flex;
        }
      }
    }
    &-button {
      &-edit {
        transition: .3s;
        padding: 5px 10px;
        margin-right: 10px;
        border-radius: 3px;
        color: var(--table-button-edit);
        background-color: var(--table-button-background);
        &:hover {
          background-color: var(--modal-shadow-color);
        }
      }
      &-delete {
        border-radius: 3px;
        background-color: var(--table-button-delete-background);
        &:hover .products__table-button-delete-svg {
          fill: var(--basic-color-2);
        }
        &-svg {
          width: 25px;
          height: 25px;
          transition: .3s;
          fill: var(--primary-color);
        }
      }
    }
  }
}

