<div class="products__button-wrapper">
    <button class="products__button"
            type="button"
            (click)="showAllTableData.emit()">
        <svg class="products__button-icon"
             data-src="/assets/images/search.svg">
        </svg>
        <span class="products__button-span">Find Physician</span>
    </button>
    <div>
        <dropdown-menu [categories]="categories"
                       (showDataByCategory)="showDataByCategory.emit($event)"></dropdown-menu>
    </div>
    <button class="products__button-filter"
            type="button"
            (click)="filterByGender.emit()">
        <span class="products__button-text">Filter by gender</span>
    </button>
    <button class="products__button"
            type="button"
            (click)="openProductModalEdit.emit({ config: ADDING_PRODUCT_MODAL_DATA, data: null })">
        <span class="products__button-text">Add Product</span>
    </button>
    <button class="products__button"
            type="button"
            (click)="resetAllDataProducts.emit()">
        <span class="products__button-text">Reset All</span>
    </button>
</div>
<table *ngIf="!errorMessage"
        class="products__table">
    <tr class="products__table-tr">
        <td class="products__table-td">Category</td>
        <td class="products__table-td">Link</td>
        <td class="products__table-td">Author</td>
        <td class="products__table-td">Gender</td>
        <td class="products__table-td">Description</td>
        <td class="products__table-td"></td>
    </tr>
    <tr *ngIf="products.length === 0">
        <span class="products__table-nodata">NO DATA</span>
    </tr>
    <tr *ngFor="let product of products"
        class="products__table-tr">
        <td class="products__table-td">{{product.category}}</td>
        <td class="products__table-td">{{product.link}}</td>
        <td class="products__table-td">{{product.author}}</td>
        <td class="products__table-td">{{product.gender}}</td>
        <td class="products__table-td">{{product.description}}</td>
        <td class="products__table-td">
            <div class="products__table-td-button-wrapper">
                <button class="products__table-button-edit"
                        type="button"
                        (click)="openProductModalEdit.emit({ config: EDITING_PRODUCT_MODAL_DATA, data: product } )">Edit
                    Product
                </button>
                <button class="products__table-button-delete"
                        type="button"
                        (click)="removeProductData.emit(product)">
                    <svg class="products__table-button-delete-svg"
                         data-src="/assets/images/delete.svg"></svg>
                </button>
            </div>
        </td>
    </tr>
</table>
<app-product-adding *ngIf="isProductModalShow"
                    [categories]="categories"
                    [editingProduct]="editingProduct"
                    [products]="products"
                    [changeProductData]="changeProductData"
                    [isProductModalShow]="isProductModalShow"
                    (closeAddingForm)="closeAddingForm.emit()"
                    (addNewProduct)="addNewProduct.emit($event)">
</app-product-adding>
<div *ngIf="errorMessage">
    {{errorMessage}}
</div>
