<div class="modal__wrapper"></div>
<div class="modal">
    <div class="modal__title">
        <span>The product removed successfully!</span>
    </div>
    <button class="modal__button"
            type="submit"
            (click)="productsService.closeConfirmRemoveModal()">OK</button>
</div>
