.modal {
  left: 50%;
  top: 50%;
  width: 360px;
  height: 100px;
  padding: 15px;
  display: flex;
  z-index: 11;
  position: absolute;
  text-align: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: var(--basic-color);
  box-shadow: 0 5px 35px var(--modal-shadow-color);
  &__wrapper {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    position: fixed;
    background-color: var(--modal-background-color);
  }
  &__title {
    margin-bottom: 10px;
  }
  &__button {
    display: inline-block;
    width: 80px;
    transition: .3s;
    padding: 10px 10px;
    border-radius: 5px;
    color: var(--basic-color);
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
    &:hover {
      color: var(--primary-color);
      background-color: var(--basic-color-color);
    }
  }
}
