<div class="header">
    <button class="header__button"
            type="button"
            (click)="changeSidebarStatus.emit()">
        <svg class="header__button-icon"
             data-src="/assets/images/menu.svg">
        </svg>
    </button>
    <button class="header__button-open"
             type="button"
             (click)="openConfirmModal.emit(EXAMPLE_MODAL_TEXTS)">
        Open Modal
    </button>
    <app-tool-tip>
    </app-tool-tip>
</div>
