.header {
  width: 100%;
  display: flex;
  padding: 10px 40px;
  justify-content: space-between;
  background-color: var(--basic-color);
  &__button {
    &-open {
      padding: 5px;
      transition: .3s;
      border-radius: 5px;
      color: var(--primary-color);
      border: 2px solid var(--primary-color);
      &:hover {
        color: var(--basic-color);
        background-color: var(--primary-color);
      }
    }
    &-icon {
      width: 20px;
      height: 20px;
      transition: .3s;
      &:hover {
        cursor: pointer;
        transform: rotate(90deg);
        fill: var(--primary-color);
      }
    }
  }
}
