.app {
  &__sidebar {
    &-wrapper {
      display: flex;
      box-shadow: 0 0 5px 0 var(--modal-border-color);
    }
  }
}
.router {
  z-index: 5;
  width: 100%;
  padding: 20px;
  overflow-y: auto;
  text-align: justify;
  height: calc(100vh - var(--height-header));
  &__background {
    &-width {
      width: 100%;
    }
  }
}
@media (max-width: 599px) {
  .router {
    padding: 10px;
    &__background {
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 7;
      display: block;
      position: absolute;
      top: var(--height-header);
      background-color: rgba(0, 0, 0, .3);
    }
  }
}
