<app-header
    (openConfirmModal)="notificationModalService.openModal($event)"
    (changeSidebarStatus)="sidebarService.changeSidebarStatus()">
</app-header>
<div class="app__sidebar-wrapper"
     (window:resize)="sidebarService.collapseSidebarByResize()">
    <app-sidebar>
    </app-sidebar>
    <div [class.router__background]="!sidebarService.isSidebarHide"
         (click)="sidebarService.isSidebarHide=true">
    </div>
    <div class="router">
        <router-outlet>
        </router-outlet>
    </div>
</div>
<app-notification-modal *ngIf="notificationModalService.isShowModal">
</app-notification-modal>
<confirm-remove-product-modal *ngIf="productsService.isShowConfirmRemoveModal"></confirm-remove-product-modal>
<spinner *ngIf="spinnerService.isSpinnerActive"></spinner>


