.sidebar {
  width: 250px;
  transition: .3s;
  background-color: var(--basic-color);
  height: calc(100vh - var(--height-header));
  border-right: 1px solid var(--modal-border-color);
  &__list {
    &-item {
      padding: 20px;
      border-left: 3px solid var(--basic-color);
      border-bottom: 1px solid var(--modal-border-color);
      &-button {
        display: flex;
        font-size: 15px;
        align-items: center;
      }
      &:hover {
        cursor: pointer;
        border-left: 3px solid var(--sidebar-active-border);
        background-color: var(--sidebar-active-backgound-color);
      }
      &:hover .sidebar__list-item-icon {
        fill: var(--sidebar-active-border);
      }
      &-icon {
        width: 20px;
        height: 20px;
        transition: .3s;
        fill: var(--modal-shadow-color);
      }
      &-title {
        opacity: 1;
        transition: .9s;
        margin-left: 10px;
        white-space: nowrap;
        color: var(--basic-color-2);
      }
    }
  }
  &._hide {
    &.sidebar {
      display: none;
    }
  }
  &._collapse {
    &.sidebar {
      width: 65px;
    }
    & .sidebar__list-item-title {
      opacity: 0;
      transition: .1s;
    }
  }
}
.active {
  border-left: 3px solid var(--sidebar-active-border);
  background-color: var(--sidebar-active-backgound-color);
  & .sidebar__list-item-icon {
    fill: var(--sidebar-active-border);
  }
}

//Media
@media (max-width: 599px) {
  .sidebar__list-item {
    padding: 15px 20px;
  }
  .sidebar {
    z-index: 10;
    overflow-y: auto;
    position: absolute;
  }
}
