<div class="sidebar" [class._collapse]="sidebarService.isCollapseSidebar"
                     [class._hide]="sidebarService.isSidebarHide">
    <ul class="sidebar__list">
        <li class="sidebar__list-item"
            *ngFor="let itemSidebarTitles of ARR_SIDEBAR_TITLES"
            routerLink="{{itemSidebarTitles.path}}"
            routerLinkActive="active"
            (click)="sidebarService.hideSidebarOnMobile()">
            <button class="sidebar__list-item-button"
                    type="button">
                <svg class="sidebar__list-item-icon"
                     [attr.data-src]="itemSidebarTitles.svg">
                </svg>
                <span class="sidebar__list-item-title">
                   {{itemSidebarTitles.text}}
                </span>
            </button>
        </li>
    </ul>
</div>
