:root {
    //color
    --primary-color: rgb(60 130 245);
    --basic-color: white;
    --shadow-color: #9a9a9a;
    --modal-border-color: #dedede;
    --modal-background-color: rgb(0, 0, 0, .5);
    --modal-shadow-color: gray;
    --basic-color-2: black;
    --sidebar-active-backgound-color: #e7f2fc;
    --sidebar-active-border: #43a3f7;
    --table-button-edit: #24c7bf;
    --table-button-background: #c8f7f4;
    --table-button-delete-background: #e7f2fb;

    //height
    --height-header: 70px;
}
