.form {
  top: 300px;
  width: 80%;
  left: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  &__input {
    &-wrapper {
      width: 50%;
      display: flex;
      max-width: 400px;
      position: relative;
      flex-direction: column;
    }
  }
  &__label {
    font-size: 13px;
    margin-bottom: 5px;
  }
  &__input {
    width: 90%;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 1px solid #dadada;
    &-required {
      top: 60px;
      color: red;
      font-size: 10px;
      margin-bottom: 5px;
      position: absolute;
    }
  }
  &__button {
    color: white;
    padding: 10px;
    transition: .3s;
    border-radius: 5px;
    border: 1px solid black;
    background-color: black;
    margin-right: 10px;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

  @media (max-width: 700px) {
    .form {
     flex-direction: column;
      width: 100%;
      &__input {
        width: 100%;
        &-wrapper {
          width: 100%;
        }
      }
    }
}


