<form class="form"
      #form="ngForm"
      (ngSubmit)="form.control.markAllAsTouched(); form.valid && addNewForm(newData)">
    <div class="form__input-wrapper">
        <label class="form__label"
               for="firstName">First Name</label>
        <input class="form__input"
               type="text"
               required
               name="firstName"
               id="firstName"
               #firstName="ngModel"
               [(ngModel)]="newData.firstName">
        <div *ngIf="firstName.touched && firstName.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__input-wrapper">
        <label class="form__label"
               for="lastName">Last Name</label>
        <input class="form__input"
               type="text"
               required
               name="lastName"
               id="lastName"
               #lastName="ngModel"
               [(ngModel)]="newData.lastName">
        <div *ngIf="lastName.touched && lastName.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__input-wrapper">
        <label class="form__label"
               for="email">Email Address</label>
        <input class="form__input"
               type="text"
               name="email"
               id="email"
               #email="ngModel"
               [(ngModel)]="newData.emailAddress">
    </div>
    <div class="form__input-wrapper">
        <label class="form__label"
               for="telNumber">Mobile Number</label>
        <input class="form__input"
               type="text"
               mask="+(000) 00 000-00-00"
               name="mobile"
               id="telNumber"
               required
               #telNumber="ngModel"
               [(ngModel)]="newData.telNumber">
        <div *ngIf="telNumber.touched && telNumber.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__input-wrapper">
        <label class="form__label"
               for="currentPassword">Password</label>
        <input class="form__input"
               type="password"
               name="current-password"
               id="currentPassword"
               required
               minlength="8"
               autocomplete="off"
               #password="ngModel"
               [(ngModel)]="newData.password">
        <div *ngIf="password.touched && password.invalid"
             class="form__input-required">Field is required.</div>
    </div>
    <div class="form__button-wrapper">
        <button class="form__button"
                type="submit">Save</button>
        <button class="form__button"
                type="reset">Cancel</button>
    </div>
</form>
